* {
    background: #e6f7ff;
}

header {
    background: aqua;
    height: 150px;
}
h1 {
  text-align: left;

}

.nav {
    float: right;
    color: white !important;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.logo {
    width: 50px; 
    height: 50px; 
    transition: opacity 0.3s; 
    border-radius: 15px;
  }

.logo:hover {
    width: 60px; 
    height: 60px; 
    cursor: pointer;
  }