* {
    background: #e6f7ff;
}

header h1 {
  float: left;
  margin-right: 10px;
}

header ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  clear: right;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.logo {
    width: 50px; 
    height: 50px; 
    transition: opacity 0.3s; 
    border-radius: 15px;
  }

.logo:hover {
    width: 60px; 
    height: 60px; 
    cursor: pointer;
  }